
<link rel="dns-prefetch" href="//d2tpzfmmlcqxf6.cloudfront.net">
<meta charset="utf-8">

<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
{% seo title=false %}

<link rel="icon" href="/assets/images/favicon.png">
<link rel="shortcut icon" href="/assets/images/favicon.png">
<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="cleartype" content="on">

<!-- Type -->
<link href="/assets/css/style.css" rel="stylesheet" type="text/css">
{% if page.css %}
<style>
  {{ page.css }}
</style>
{% endif %}

<!-- Indie Web -->
<link href="https://twitter.com/robknight" rel="me">
<link href="https://instagram.com/robknight" rel="me">
<link href="http://robknight.vsco.co" rel="me">
<link href="https://github.com/knice" rel="me">
<link href="https://www.flickr.com/photos/rknight" rel="me">
<link href="https://www.facebook.com/raknight" rel="me">
<link href="mailto:me@robknight.net" rel="me">
<link href="mailto:hello@robknight.net" rel="me">

