.site-content {
  margin: 2em 0;
}

.date {
  color: lighten($text-color, 22%);
  margin: .15em 0 0;
  font-size: .889em;
}

.teaser {
  margin: 0;
}

.pagination {
  text-align: left;

  a,
  em {
    display: inline-block;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 600;
    margin: 0 .25em;
    padding: .25em;
  }

  em {
    font-size: 1.75em;
    font-weight: 400;
  }
}

.pages {
  border-top: 1px solid $banner-text;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 2.5em;
  padding-top: .25em;

  > div {
    flex: 1 1 50%;

    p {
      margin: 0;
    }

    &:last-child {
      text-align: right;
    }
  }
}

.bookmarks {
  margin: 2em 0 1em;
  padding: 0;
  list-style: none;

  li {
    list-style-type: none;
    margin: 1em 0 2.5em;
    padding: 0;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    margin-top: .25em;
  }

  .description {
    margin-bottom: 0;
  }

  .tag-list {
      display: inline-block;
      background: transparent url('/assets/images/icon-tag.svg') no-repeat left center;
      padding-left: 18px;
      background-size: 14px 14px;
      font-size: .85rem;      
      margin: 0;

    span {
      display: block;
      position: absolute;
      left: -1000em;
    }
  }
}
