body {
  background-color: $background-color;
  color: $text-color;
  font:16px/1.5 $font-family-base;
  font-weight: 300;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headlines;
  font-weight: 600;
  margin: .25em 0 .05em 0;
}

h1 {
  font-size: 3em;

  a {
    color: $text-color;
  }
}

h2 {
  font-size: 1.8em;
}

p {
  margin: 1em 0;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 1.5em;
  li {
    padding: 0;
    margin: 0;
  }
}

a {
  color: $action-color;
  text-decoration: none;
}

blockquote {
  background-color: transparentize($text-color, 0.9);
  border-left: 8px solid transparentize($text-color, 0.5);
  padding: .25em 1em;
  margin: 1em 0;
}

img {
  width: calc(100% + 3em);
  margin: .5em -1.5em;
  @include media($tablet) {
    width: 100%;
    margin: .5em 0;
  }
}
