.wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1em 0;
  max-width: 38em;
  min-height: 100vh;
  padding: 0 1.5em;

  @include media($tablet) {
    margin: 6em 4em;
  }

  .site-content {
    display: block;
    flex: 1 0 auto;
  }
}

nav ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin-right: .75em;

    &:last-child {
      margin-right: 0;
    }
  }
}
