body {
   padding: 0;
   margin: 0;
   color: $text-color;
   background-color: #ffffff;
   font-weight: 300;
   line-height: 1.4;
   font-size: 16px;
   font-family: $font-family-base;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headlines;
  color: darken($text-color, 10%);
  font-weight: 400;
  margin: 0.25em 20px;
}

b, strong {
  font-weight: 700;
}

i, em {
  font-style: italic;
}

h1 {
   font-size: 2.2em;
   &.icon {
      width: 64px;
      margin: 0 auto;
   }
   article & {
     line-height: 1;
     margin: 0.5em 0 0.5em 0;
     font-size: 2.2em;
   }
   ol & {
     font-size: 1.4em;
     margin: 0.25em 0 0.5em;
   }
}

p {
   margin: 1em 20px;
}

a {
   color: $primary-color;
   text-decoration: none;
   &:focus,
   &:hover,
   &:active {
      text-decoration: underline;
   }
}

img {
   max-width: 100%;
}

blockquote {
  background-color: #ededed;
  padding: 0.5em 1em;
  margin: 0;
  border: 1px solid #dddddd;
}


.wrap {
   margin: 0.5em auto 4em auto;
   width: 100%;
   max-width: 32em;
}

body > header,
body > footer {
   text-align: center;
   padding: 1em 0;
   //border-bottom: 1px solid #dddddd;
}

nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   li {
      display: inline-block;
      margin: 0 0.5em;
   }
}

.meta {
  margin: 0.5em 20px;
  padding-bottom: 0.25em;
  border-bottom: 2px dotted $light-color;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: darken($light-color, 20%);
}

.archive-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    padding: 0;
    margin: 1em 0 2.5em 0;
  }
}


@media screen and (min-width:730px) {
   h1, h2, h3, h4, h5, h6,
   p {
     margin: 1em 0;
   }
   .meta {
     margin: 0.5em 0;
   }
}
