$text-color: #545454;
$primary-color: #f54123;
$secondary-color: #0098d8;
$dark-color: #0b3536;
$light-color: #e5e7de;

$font-family-base: "Merriweather Sans", -apple-system, sans-serif;
$font-family-headlines: "Yeseva One", sans-serif;
