$text-color: #545454;
$action-color: #0098d8;
$headline-color: #15a7cc;
$banner-text: #fff;
$background-color: lighten($text-color, 75%);

$font-family-base: "Georgia", serif;
$font-family-headlines: $font-family-base;

$tablet: new-breakpoint(min-width 38em 12);

$tablet-grid: (
  columns: 12,
  gutter: 1em,
  media: 608px,
);

// Potential color palette from Veerle Peters
// https://shared-assets.adobe.com/link/3cd607fe-a32e-491d-6801-9caee829a49a
// Turquoise: #1bb0b8
// Red-orange: #ff2e4a
// Gold: #ffda59
// Blue-green: #005964
// Light-blue: #a5dfed
