---
layout: default
---

<section>

  {{ content }}

  <ul class="list">
  {% for thing in site.data.bookmarks %}
    <li>
      <a class="title" href="{{ thing.u }}">{{ thing.d }}</a>
      <p class="date">{{ thing.dt | date: '%B %d, %Y' }}</p>
      {% if thing.n %}
      <p class="description">{{ thing.n }}</p>      
      {% endif %}
      {% assign thing_tags = thing.t | join: " " | remove: "things" | split: " " %}
      {% if thing_tags.size > 1 %}
      <p class="tag-list"><span class="ada-text">Also tagged:</span> 
        {% for t in thing_tags %}
        {% if t != "things" %}
          <a href="https://pinboard.in/u:robknight/t:{{ t }}">{{ t }}</a>{%- unless forloop.last %}, {%- endunless %}
        {% endif %}
        {% endfor %}
      </p>
      {% endif %}
    </li>
  {% endfor %}
  </ul>

</section>
