<!doctype html>
<html lang="en">

  <head>
    {% include "head.njk" %}
  </head>

  <body>
    <div class="support" style="background: linear-gradient( to top, rgb(255, 214, 0) 0%, rgb(255, 214, 0) 50%, #000000 50%, rgb(0, 86, 184) 50%, rgb(0, 86, 184) 100% ) no-repeat; /* W3C */ height: 20px;"></div>
    <div class="wrap">

      {% include "header.njk" %}
    
      <main class="site-content">

        {% if page.url != '/' %}
          
        <h1 class="title">
        {% if link %}
        <a href="{{ link }}">{{ title }} &rarr;</a>
        {% else %}
          {{ title }}
        {% endif %}
        </h1>

        {% endif %}

        {{ content | safe }}
      </main>
    
      {% include "footer.njk" %}

    </div>

  </body>

</html>
