<!doctype html>
<html lang="en">

  <head>
    {% include "head.njk" %}
  </head>

  <body>

    <div class="wrap">

      {% include "header.njk" %}
    
      <main class="site-content">
        {{ content | safe }}
      </main>
    
      {% include "footer.njk" %}

    </div>

  </body>

</html>
