---
layout: default
---

<section>

  <h2>Recent projects</h2>

  <ul class="list">
  
  {%- for project in collections.project -%}
    <li>{{ project.data.date }} - <a href="{{ project.data.url }}">{{ project.data.title }}</a></li>
  {% endfor %}
  </ul>

  {{ content | safe }}


</section>
